# app
django==4.0.3
djangorestframework
django-filter
django-import-export
pyexcel-xlsx
python-dateutil
isoweek
openpyxl
Pillow
numpy
colormap
easydev
nodeenv

# dev
pip-tools
flake8

# tests
coverage
