<!DOCTYPE html>

{% load static i18n index %}

<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Les Elephants</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

        <link href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" rel="stylesheet">

        <link href="{% static "css/main.css" %}" rel="stylesheet">
        <link href="{% static "css/comment.css" %}" rel="stylesheet">

        <script src="{% static 'js/navbar.js' %}"></script>
        <script src="{% static 'js/getModal.js' %}"></script>
        <script src="{% static 'js/tableClient.js' %}"></script>
        <script src="{% static 'js/clientfood.js' %}"></script>
        <script>
            $(window).on('load', function () {
                const my_element = document.getElementById("week_{{actual_year}}_{{actual_week}}");
            
                try {
                    my_element.scrollIntoView({
                      behavior: "smooth",
                      block: "nearest",
                      inline: "center"
                    });
            
                } catch (error) {
                }
            }) 
        </script>
        <script>
            $(document).ready(function(){
                // Add smooth scrolling to all links
                let varYear = {{actual_year}};
                let base_anchor = {{actual_week}};
                $("a.save-position").on('click', function(event) {

                    event.preventDefault();
                    base_anchor = base_anchor + $(this).data('anchor');
                    if (base_anchor <= 1) {
                        base_anchor = 52;
                        varYear = varYear - 1;
                    };
                    if (base_anchor > 52) {
                        base_anchor = 1;
                        varYear += 1;
                    };
                    try {
                        const element = document.getElementById(`week_${varYear}_${base_anchor}`);
                        element.scrollIntoView({
                            behavior: "smooth",
                            block: "nearest",
                            inline: "center"
                        });

                    } catch (error){
                        console.log(error);
                        base_anchor = base_anchor - $(this).data('anchor');
                    }
                })
            });
        </script>
    </head>
    <body class="overflow-auto" id="reference">
        <!-- Navbar -->
        <ul class="nav nav-tabs d-print-none" id="menu" role="tablist" style="font-size: x-large;">
            <li class="nav-brand h-100">
                <img src="{% static 'img_elephant.png' %}"
                     alt="Small"
                     class="d-inline-block align-top"
                     height="53"
                />
            </li>
            <li class="nav-item ps-1">
                <a class="nav-link active" id="client-tab" data-bs-toggle="tab" href="#client" role="tab" aria-controls="client" aria-selected="true">Clients</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="order-tab" data-bs-toggle="tab" href="#order" role="tab" aria-controls="order" aria-selected="true">Ordres</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="planning-tab" data-bs-toggle="tab" href="#planning" role="tab" aria-controls="planning" aria-selected="false">Planning</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="food-tab" data-bs-toggle="tab" href="#food" role="tab" aria-controls="food" aria-selected="false">Plats</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="circuit-tab" data-bs-toggle="tab" href="#circuit" role="tab" aria-controls="circuit" aria-selected="false">Tournées</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="bill-tab" data-bs-toggle="tab" href="#bill" role="tab" aria-controls="bill" aria-selected="false">Factures</a>
            </li>
            <li class="ms-auto" style="align-self: center;">
                <button form="myform" class="btn btn-lg btn-primary align-content-center mx-3" type="submit">Enregistrer</button>
            </li>
            <li class="" style="align-self: center;">
                    <button type="button" class="btn btn-lg dropdown-toggle bg-secondary align-content-center mx-3" data-bs-toggle="dropdown" aria-expanded="false">
                        Exporter
                    </button>
                    <form class="dropdown-menu text-center" style="text-align-last: center; width: min-content;" action="{% url "manager:facture" %}" method="post" id="facture">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="month_export" class="form-label">Mois</label>
                            <input style="width: -webkit-fill-available;" type="number" min="1" max="12" step="1"  name="month" id="month" value="{{actual_month}}">
                        </div>
                        <div class="mb-3">
                            <label for="year_export" class="form-label">Année</label>
                            <input style="width: -webkit-fill-available;" type="number" min="2020" step="1"  name="year" id="year" value="{{actual_year}}">
                        </div>
                        <label for="date">Date sur les factures:</label>
                        <input type="date" id="date" name="date"
                               value="{{actual_year}}-{{actual_month}}-{{actual_day}}">
                        <button class="btn btn-secondary" type="submit" href="{% url 'manager:facture' %}">Exporter</button>
                    </form>
            </li>

        </ul>

        <div class="quarter-year-header-picker my-1 d-print-none" style="text-align-last:center;">
            <form action="{% url "manager:week_range" %}" method="post" id="week_range_id">
                {% csrf_token %}
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    {% for week_range_choice in week_range_choices %}
                        <input type="radio"
                               onchange='this.form.submit();'
                               class="btn-check"
                               name="week_range_input"
                               value="{{forloop.counter}}"
                               id="week_range{{ forloop.counter0 }}"
                               autocomplete="off"
                                {% if week_range.0|striptags == forloop.counter|striptags %}
                                   style="background-color: blue;"
                                   checked
                                {% endif %}
                            >
                        <label class="p-0 btn btn-outline-primary align-content-center mx-0 p-2" for="week_range{{ forloop.counter0 }}">
                            {{forloop.counter}}
                            {% blocktrans count count=forloop.counter %}
                                 Semaine
                            {% plural %}
                                 Semaines
                            {% endblocktrans %}
                        </label>
                    {% endfor %}
                </div>
            </form>
        </div>


        <div class=" d-print-none" style="position:sticky; bottom:0px; text-align-last: center; text-align: -webkit-center; display: flex; place-content: center;">
            <a
                href="#"
                class="btn btn-secondary align-content-center mx-1 save-position"
                data-anchor="-4"
                type="button">
                <<
            </a>
            <a
                href="#"
                class="btn btn-secondary align-content-center mx-1 save-position"
                data-anchor="-1"
                type="button">
                <
            </a>
            <div class="list-group list-group-horizontal text-nowrap overflow-hidden" style="max-width:500px;" id="calendarBtn">
                {% for weeks in list_weeks %}
                    <a href="{% url "manager:index" %}{{weeks|year}}/{{weeks|month}}/{{weeks|day}}/" id='week_{{weeks|get_year}}_{{weeks|get_week}}'class="list-group-item list-group-item-action {% if weeks|get_week == actual_week and weeks|get_year == actual_year %}active {% elif weeks|get_week in range_weeks and weeks|get_year == actual_year %} bg-info{% endif %}">{{weeks|day}}/{{weeks|month}}/{{weeks|get_year}}</a>
                {% endfor %}
              </div>
            <a  
                href="#"
                class="btn btn-secondary align-content-center mx-1 save-position"
                data-anchor="1"
                type="button">
                >
            </a>
            <a
                href="#"
                class="btn btn-secondary align-content-center mx-1 save-position"
                data-anchor="4"
                type="button">
                >>
            </a>
        </div>



        <!-- Content Wrapper. Contains page content -->
        <div class="wrapper pt-0 d-print-none">
            <!-- Main content -->
            <section class="content p-0 vh-100">
                <div class="container-fluid vh-100">
                    <div class="row vh-100">
                        <div class="col-12 h-100">
                            <div class="tab-content" id="menuContent">
                                <form action="{% url "manager:update" %}" method="post" id="myform">
                                    {% csrf_token %}
                                    <input type="text" class="d-none" id="save_link" name="save_link" value="">
                                    <input type="text" class="d-none" id="date_link" name="date_link" value="">

                                    <div class="tab-pane fade show active" id="client" role="tabpanel" aria-labelledby="client-tab">
                                        <p>
                                            {% include "manager/clients/clients_list.html" %}
                                        </p>
                                    </div>
                                    <div class="tab-pane fade show" id="order" role="tabpanel" aria-labelledby="order-tab">
                                        <p>
                                            {% include "manager/clients/order_list.html" %}
                                        </p>
                                    </div>
                                    <div class="tab-pane fade" id="planning" role="tabpanel" aria-labelledby="planning-tab">
                                        <p>
                                            {% include "manager/planning/planning.html" %}
                                        </p>
                                    </div>
                                    <div class="tab-pane fade" id="food" role="tabpanel" aria-labelledby="food-tab">
                                        <p>
                                            {% include "manager/food/food.html" %}
                                        </p>
                                    </div>
                                    <div class="tab-pane fade" id="circuit" role="tabpanel" aria-labelledby="circuit-tab">
                                        <p>
                                            {% include "manager/circuits/circuits.html" %}
                                        </p>
                                    </div>
                                    <div class="tab-pane fade" id="bill" role="tabpanel" aria-labelledby="bill-tab">
                                        <p>
                                            {% include "manager/bills/bill.html" %}
                                        </p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- Add Client -->
        <div class="modal fade d-print-none"
             id="add-modal"
             tabindex="-1"
             role="dialog"
             aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header justify-content-center">🙋‍♀️ Ajouter un client 🙋‍♂️</div>
                    <div class="modal-body" id="add-modal-body">
                        <form action="{% url 'manager:new_client' %}" method="post" id="new_client">
                            {% csrf_token %}
                            {% include "manager/clients/client_form.html" %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add Circuit -->
        <div class="modal fade"
             id="circuit-modal"
             tabindex="-1"
             role="dialog"
             aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header justify-content-center">🚐 Ajouter une tournée 🛵</div>
                    <div class="modal-body" id="circuit-modal-body">
                        <form action="{% url 'manager:new_circuit' %}" method="post" id="new_circuit">
                            {% csrf_token %}
                            {% include "manager/circuits/circuits_form.html" %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add Food -->
        <div class="modal fade"
             id="food-modal"
             tabindex="-1"
             role="dialog"
             aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header justify-content-center">🍱 Ajouter un plat 🥗</div>
                    <div class="modal-body" id="food-modal-body">
                        <form action="{% url 'manager:new_food' %}" method="post" id="new_food">
                            {% csrf_token %}
                            {% include "manager/food/food_form.html" %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Circuit -->
        <div class="modal fade"
             id="unique-modal"
             tabindex="-1"
             role="dialog"
             aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content" id="loading-text">
                    <div class="modal-body text-center" id="unique-modal-body">
                        <h1 id="titleCircuit">Circuit</h1>
                        <table class="responsive-table-input-matrix table table-hover">
                            <thead class="overflow-auto table-dark">
                                <tr>
                                    <th>Client</th>
                                    <th>Adresse</th>
                                    <th>Telephone</th>
                                    {% for food in formDefaultCommand %}
                                        <th class="verticalTableHeader">
                                            {{ food.default.category }}
                                        </th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody id="feedme">
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer justify-content-center" id="unique-modal-footer">
                        {% comment %} <button class="btn btn-primary">
                            Envoyer
                        </button> {% endcomment %}
                        <button class="btn btn-secondary" onclick="PrintElem('unique-modal-body');">
                            Imprimer
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Circuit TOTAL -->
        <div class="modal fade"
             id="unique-modal-total"
             tabindex="-1"
             role="dialog"
             aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content" id="loading-text-total">
                    <div class="modal-body text-center" id="unique-modal-body-total">
                        <h1 id="titleCircuitTotal">Circuit</h1>
                        <table class="responsive-table-input-matrix table table-hover">
                            <thead class="overflow-auto table-dark">
                                <tr>
                                    <th>Tournée</th>
                                    {% for food in formDefaultCommand %}
                                        <th class="verticalTableHeader">
                                            {{ food.default.category }}
                                        </th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody id="feedmeTotal">
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer justify-content-center" id="unique-modal-footer-total">
                        {% comment %} <button class="btn btn-primary">
                            Envoyer
                        </button> {% endcomment %}
                        <button class="btn btn-secondary" onclick="PrintElem('unique-modal-body-total');">
                            Imprimer
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Customers Comment -->
        <div class="modal fade"
             id="unique-modal-customer"
             tabindex="-1"
             role="dialog"
             aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content" id="loading-text-customer">
                    <div class="modal-body text-center" id="unique-modal-body-customer">
                        <h1 id="titleCustomerComment">Historique des commentaires</h1>
                        <h2 id="titleCustomerCommentName"></h2>
                        <table class="responsive-table-input-matrix table table-hover">
                            <thead class="overflow-auto table-dark">
                                <tr>
                                    <th>Date</th>
                                    <th>Commentaires</th>
                                    <th style="width:0">Supprimer</th>
                                </tr>
                            </thead>
                            <tbody id="feedmecomment">
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer justify-content-center" id="unique-modal-footer-customer">
                        {% comment %} <button class="btn btn-primary">
                            Envoyer
                        </button> {% endcomment %}
                        <button class="btn btn-secondary" onclick="PrintElem('unique-modal-body-customer');">
                            Imprimer
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

<script>
    function PrintElem(elem)
    {
        var mywindow = window.open('', 'PRINT', 'height=400,width=600');
    
        mywindow.document.write('<html><head>');
        mywindow.document.write(`<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"><link href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" rel="stylesheet"><link href="{% static "css/calendar.css" %}" rel="stylesheet">`)
        mywindow.document.write('</head><body >');
        mywindow.document.write(document.getElementById(elem).innerHTML);
        mywindow.document.write('</body></html>');
    
        mywindow.document.close(); // necessary for IE >= 10
        mywindow.focus(); // necessary for IE >= 10*/
    
    
        setTimeout(function () {
        mywindow.print();
        mywindow.close();
        }, 2000)
        return true;
    }
</script>
