{% load static humanize index %}

<style> 
    /* 
    Generic Styling, for Desktops/Laptops 
    */
    table {
      width: 100%;
      border-collapse: collapse;
    }



    th {
      background: #333;
      color: white;
      font-weight: bold;
    }

    td, th {
      padding: 6px;
      border: 1px solid #ccc;
      text-align: center;
    }

    /* 
    Max width before this PARTICULAR table gets nasty
    This query will take effect for any screen smaller than 760px
    and also iPads specifically.
    */
    @media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
      .responsive-table-input-matrix {
        display: block;
        position: relative;
        width: 100%;
      }
      .responsive-table-input-matrix:after {
        clear: both;
        content: "";
        display: block;
        font-size: 0;
        height: 0;
        visibility: hidden;
      }
      .responsive-table-input-matrix tbody {
        display: block;
        overflow-x: auto;
        position: relative;
        white-space: nowrap;
        width: auto;
      }
      .responsive-table-input-matrix tbody tr {
        display: inline-block;
        vertical-align: top;
      }
      .responsive-table-input-matrix tbody tr td {
        display: block;
        text-align: center;
      }
      .responsive-table-input-matrix tbody tr td:first-child {
        text-align: center;
      }
      .responsive-table-input-matrix thead {
        display: block;
        float: left;
        margin-right: 10px;
      }
      .responsive-table-input-matrix thead:after {
        clear: both;
        content: "";
        display: block;
        font-size: 0;
        height: 0;
        visibility: hidden;
      }
      .responsive-table-input-matrix thead th:first-of-type {
        height: 1.4em;
      }
      .responsive-table-input-matrix thead th {
        display: block;
        text-align: center;
      }
      .responsive-table-input-matrix thead th:first-child {
        text-align: center;
      }
    }
</style>
<style>
  #table tr > *:nth-child(2) {
    display: none;
}
</style>
<style>
  .draggable-grip{
    vertical-align: middle;
  }

  .draggable-grip:after {
    width: 3%;
    position: relative;
    text-align: center;
    content: '\f58d';
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
  }
</style>


    <h3>
        Clients
        <button
          class="btn btn-info align-content-center mx-3 unique-add-btn"
          type="button"
          id="createClient"
          >
          Ajouter
        </button>
    </h3>
    {{formClient.circuit}}
    {% regroup clients by circuit as client_list %}
      {% for circuit, clients_by_circuit in client_list %}
        <table class="responsive-table-input-matrix table table-hover" id="table">
          {% if forloop.counter0 == 0 %}
            <thead class="table-dark">
                <tr>
                    <th>#</th>
                    <th>#</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    {% with foodcategories as foodcategories %}
                    {% for food in foods %}
                        <th class="verticalTableHeader">
                            {% with food.category as category %}
                                    {{ foodcategories|index:forloop.counter0|index:1 }}
                            {% endwith %}
                        </th>
                        {% endfor %}
                    {% endwith %}
                    <th>Tournée</th>
                    <th>Montant</th>
                    <th>€/u</th>
                    <th>Nb. Repas</th>
                    <th>Export</th>
                </tr>
            </thead>
          {% endif %}
          <tbody class="overflow-auto">
            {% ifchanged clients_by_circuit.circuit %}
              {% if forloop.counter0 != 0 %}
                <tr style="border-collapse: separate; border-spacing:0 20px;">
                  <td colspan="17">
                    pb
                  </td>
                </tr>
              {% endif %}
            {% endifchanged %}
          {% for client in clients_by_circuit %}
            <tr style="background-color: ; margin-bottom:1rem; background-color:{{gradients|get_value:circuit.id}}">
                <td class="draggable draggable-grip">
                </td>
                <td><input class="order_clients" type="text" name="order__{{client.id}}" id="order__{{client.id}}" value="{{forloop.counter0}}"/></td>
                <td><input type="text" name="last_name__{{client.id}}" id="last_name__{{client.id}}" value="{{client.last_name}}"/></td>
                <td><input type="text" name="first_name__{{client.id}}" id="first_name__{{client.id}}" value="{{client.first_name}}"/></td>
                {% for default in formDefaultCommand %}
                    <td style="-webkit-writing-mode: vertical-lr;">
                        <input
                            type="checkbox"
                            id="_meals__{{default.id}}__{{client.id}}"
                            name="_meals__{{default.id}}__{{client.id}}"
                        {% for box_client in client.client_command.all %}
                            {% if default|striptags == box_client|striptags %}
                                checked
                            {% endif %}
                        {% endfor %}
                            class="default_box">
                    </td>
                {% endfor %}
                <td>
                    <select name="circuit_id__{{client.id}}" id="circuit_id__{{client.id}}">
                        {% for circuit in formCircuit %}
                            <option value="{{ circuit.id.value }}" {% if circuit.id.value == client.circuit.id %}selected="selected"{% endif %}> {{ circuit.name.value }} </option>
                        {% endfor %}
                    </select>
                </td>
                <td>SOMME</td>
                <td>€/u</td>
                <td>Nb repas</td>
                <td><button
                  class="btn btn-warning align-content-center mx-3"
                  type="button">
                  Excel à l'unitée
                </button></td>
            </tr>
            {% endfor %}
          </table>
          {% endfor %}


<script>

  document.addEventListener('DOMContentLoaded', function () {
    const table = document.getElementById('table');

    let draggingEle;
    let draggingRowIndex;
    let placeholder;
    let list;
    let isDraggingStarted = false;

    // The current position of mouse relative to the dragging element
    let x = 0;
    let y = 0;

    // Swap two nodes
    const swap = function (nodeA, nodeB) {
        const parentA = nodeA.parentNode;
        const siblingA = nodeA.nextSibling === nodeB ? nodeA : nodeA.nextSibling;

        // Move `nodeA` to before the `nodeB`
        nodeB.parentNode.insertBefore(nodeA, nodeB);

        // Move `nodeB` to before the sibling of `nodeA`
        parentA.insertBefore(nodeB, siblingA);

    };

    // Check if `nodeA` is above `nodeB`
    const isAbove = function (nodeA, nodeB) {
        // Get the bounding rectangle of nodes
        const rectA = nodeA.getBoundingClientRect();
        const rectB = nodeB.getBoundingClientRect();

        return rectA.top + rectA.height / 2 < rectB.top + rectB.height / 2;
    };

    const cloneTable = function () {
        const rect = table.getBoundingClientRect();
        const width = parseInt(window.getComputedStyle(table).width);

        list = document.createElement('div');
        list.classList.add('clone-list');
        list.style.position = 'absolute';
        list.style.left = `${rect.left}px`;
        list.style.top = `${rect.top}px`;
        table.parentNode.insertBefore(list, table);

        // Hide the original table
        table.style.visibility = 'hidden';

        table.querySelectorAll('tr').forEach(function (row) {
            // Create a new table from given row
            const item = document.createElement('div');
            item.classList.add('draggable');

            const newTable = document.createElement('table');
            newTable.setAttribute('class', 'clone-table');
            newTable.style.width = `${width}px`;

            const newRow = document.createElement('tr');
            const cells = [].slice.call(row.children);
            cells.forEach(function (cell) {
                const newCell = cell.cloneNode(true);
                newCell.style.width = `${parseInt(window.getComputedStyle(cell).width)}px`;
                newRow.appendChild(newCell);
            });

            newTable.appendChild(newRow);
            item.appendChild(newTable);
            list.appendChild(item);
        });
    };

    const mouseDownHandler = function (e) {
        // Get the original row
        const originalRow = e.target.parentNode;
        draggingRowIndex = [].slice.call(table.querySelectorAll('tr')).indexOf(originalRow);

        // Determine the mouse position
        x = e.clientX;
        y = e.clientY;

        // Attach the listeners to `document`
        document.addEventListener('mousemove', mouseMoveHandler);
        document.addEventListener('mouseup', mouseUpHandler);
    };

    const mouseMoveHandler = function (e) {
        if (!isDraggingStarted) {
            isDraggingStarted = true;

            cloneTable();

            draggingEle = [].slice.call(list.children)[draggingRowIndex];
            draggingEle.classList.add('dragging');

            // Let the placeholder take the height of dragging element
            // So the next element won't move up
            placeholder = document.createElement('div');
            placeholder.classList.add('placeholder');
            draggingEle.parentNode.insertBefore(placeholder, draggingEle.nextSibling);
            placeholder.style.height = `${draggingEle.offsetHeight}px`;
        }

        // Set position for dragging element
        draggingEle.style.position = 'absolute';
        draggingEle.style.top = `${draggingEle.offsetTop + e.clientY - y}px`;
        draggingEle.style.left = `${draggingEle.offsetLeft + e.clientX - x}px`;

        // Reassign the position of mouse
        x = e.clientX;
        y = e.clientY;

        // The current order
        // prevEle
        // draggingEle
        // placeholder
        // nextEle
        const prevEle = draggingEle.previousElementSibling;
        const nextEle = placeholder.nextElementSibling;

        // The dragging element is above the previous element
        // User moves the dragging element to the top
        // We don't allow to drop above the header
        // (which doesn't have `previousElementSibling`)
        if (prevEle && prevEle.previousElementSibling && isAbove(draggingEle, prevEle)) {
            // The current order    -> The new order
            // prevEle              -> placeholder
            // draggingEle          -> draggingEle
            // placeholder          -> prevEle
            swap(placeholder, draggingEle);
            swap(placeholder, prevEle);
            return;
        }

        // The dragging element is below the next element
        // User moves the dragging element to the bottom
        if (nextEle && isAbove(nextEle, draggingEle)) {
            // The current order    -> The new order
            // draggingEle          -> nextEle
            // placeholder          -> placeholder
            // nextEle              -> draggingEle
            swap(nextEle, placeholder);
            swap(nextEle, draggingEle);
        }
    };

    const mouseUpHandler = function () {
        // Remove the placeholder
        placeholder && placeholder.parentNode.removeChild(placeholder);

        draggingEle.classList.remove('dragging');
        draggingEle.style.removeProperty('top');
        draggingEle.style.removeProperty('left');
        draggingEle.style.removeProperty('position');

        // Get the end index
        const endRowIndex = [].slice.call(list.children).indexOf(draggingEle);

        isDraggingStarted = false;

        // Remove the `list` element
        list.parentNode.removeChild(list);

        // Move the dragged row to `endRowIndex`
        let rows = [].slice.call(table.querySelectorAll('tr'));
        draggingRowIndex > endRowIndex
            ? rows[endRowIndex].parentNode.insertBefore(rows[draggingRowIndex], rows[endRowIndex])
            : rows[endRowIndex].parentNode.insertBefore(
                  rows[draggingRowIndex],
                  rows[endRowIndex].nextSibling
              );


        // Bring back the table
        table.style.removeProperty('visibility');

        // Remove the handlers of `mousemove` and `mouseup`
        document.removeEventListener('mousemove', mouseMoveHandler);
        document.removeEventListener('mouseup', mouseUpHandler);
        let counter0 = 0;
        table.querySelectorAll('.order_clients').forEach(function(order) {
          console.log(order)
          order.setAttribute('value', counter0);
          counter0 += 1;
      });
    };

    table.querySelectorAll('tr').forEach(function (row, index) {
        // Ignore the header
        // We don't want user to change the order of header
        if (index === 0) {
            return;
        }

        const firstCell = row.firstElementChild;
        firstCell.classList.add('draggable');
        firstCell.addEventListener('mousedown', mouseDownHandler);
    });
});

</script>