{% load static humanize index %}

<h3>
    Clients
    <button
      class="btn btn-success align-content-center mx-3 unique-add-btn"
      type="button"
      id="createClient"
    >
      Ajouter
    </button>
</h3>

<table class="responsive-table-input-matrix table table-hover" id="table-{{forloop.counter0}}">
  <thead class="table-dark position-relative {% if forloop.counter0 > 0 %}collapsed{% else %}showed{% endif %}">
    <tr>
      <th>Nom</th>
      <th>Adresse</th>
      <th>Tel</th>
      {% with foodcategories as foodcategories %}
      {% for food in formDefaultCommand %}
          <th class="verticalTableHeader w0">
                      {{ food.default.category }}
          </th>
          {% endfor %}
      {% endwith %}
      <th class="w0" >Tournée</th>
      <th>€/u</th>
      <th>Nb. Repas</th>
      <th>€ ce mois</th>
      <th class="w0">Export</th>
    </tr>
  </thead>
  
  <tbody class="overflow-auto" id="tbody-client">
    <!-- clients are spawing there from api -->
  </tbody>
</table>
