{% load static humanize index %}

    <div class="btn-group" role="group">
        <div class="input-group-prepend">
            <button 
                class="btn btn-outline-dark btn-minus command-btn" 
                data-command="{{command_id}}" 
                data-client="{{client.id}}" 
                data-month="{{this_month}}"
                data-year="{{this_year}}"
                type="button">
                <i class="fa fa-minus"></i>
            </button>
        </div>
        <input
            class="form-control btn-check quantity command-val"
            min="0"
            type="number"
            data-command="{{command_id}}"
            id="command_command__{{day_time}}__{{command_id}}__{{client.id}}"
            data-id="command_command__{{command_id}}"
            name="command_command__{{day_time}}__{{command_id}}__{{client.id}}"
            value={{day_time_command}}
        >
        <label class="btn mx-0 p-0 quantity_label" for="command_command__{{day_time}}__{{command_id}}__{{client.id}}">
            <button 
                type="button" 
                data-client="{{client.id}}"
                data-command="{{command_id}}"
                class="btn
                dropdown-get-food
                {% if command_opts.comment and command_opts.comment != '' and command_opts.comment != 'None' %}
                    btn-danger
                {% elif day_time_command > 0 %}
                    btn-warning
                {% else %}
                    btn-outline-light
                {% endif %}
                dropdown-toggle"
                data-bs-toggle="dropdown"
                aria-expanded="false"
            >
                {{day_time_command}}
            </button>
            <div class="dropdown-menu p-2" style="min-width:25rem;">
                <div class="text-center mx-1">
                    <strong>Plats Programmés</strong>
                </div>
                <div
                     class="container"
                     id="defaultfood-client-{{command_id}}">
                </div>
                <div class="background-food-day" style="border: 2px solid #363742;">
                    <div class="text-center mx-1">
                        <strong>Plats Commandés ce jour</strong>
                    </div>
                    <div
                         class="container"
                         id="food-client-{{command_id}}"
                    >
                    </div>
                </div>
                <div class="text-center mx-1">
                    <strong>Commentaire</strong>
                    <textarea
                        id="comment__{{day_time}}__{{command_id}}__{{client.id}}"
                        name="comment__{{day_time}}__{{command_id}}__{{client.id}}"
                        data-command="{{command_id}}"
                        data-client="{{client.id}}"
                        class="default_box"
                        style="width: -webkit-fill-available;"
                    >{% if command_opts.comment %}{{command_opts.comment}}{% endif %}</textarea>
                </div>
                <div class="text-center">
                    <button 
                    type="button"
                    class="save-comment btn btn-primary" 
                    data-command="{{command_id}}"
                    data-client="{{client.id}}"
                    >
                        Enregistrer
                    </button>
                </div>
            </div>
        </label>
        <div class="input-group-append">
            <button 
                class="btn btn-outline-dark btn-plus command-btn" 
                data-command="{{command_id}}"
                data-client="{{client.id}}"
                data-month="{{this_month}}"
                data-year="{{this_year}}"
                type="button">
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </div>
