{% load static humanize index %}

{% comment %} Init some variables {% endcomment %}
{% now "d" as to_day %}
{% now "Y" as to_year %}
{% now "m" as to_month %}
{% now "d" as todays_date %}
    <div class="btn-group" role="group">
        <div class="input-group-prepend">
            <button class="btn btn-outline-dark btn-minus command-btn" data-command="{{command_id}}" type="button">
                <i class="fa fa-minus"></i>
            </button>
        </div>
        <input
            class="form-control btn-check quantity command-val"
            min="0"
            type="number"
            data-command="{{command_id}}"
            id="command_command__{{day_time}}__{{command_id}}__{{client.id}}"
            data-id="command_command__{{command_id}}"
            name="command_command__{{day_time}}__{{command_id}}__{{client.id}}"
            value={{day_time_command}}
        >
        <label class="btn mx-0 p-0 quantity_label" for="command_command__{{day_time}}__{{command_id}}__{{client.id}}">
            <button 
                type="button" 
                data-client="{{client.id}}"
                data-command="{{command_id}}"
                class="btn
                dropdown-get-food
                {% if command_opts.comment and command_opts.comment != '' and command_opts.comment != 'None' %}
                    btn-danger
                {% elif day_time_command > 0 %}
                    btn-warning
                {% else %}
                    btn-outline-light
                {% endif %}
                dropdown-toggle"
                data-bs-toggle="dropdown"
                aria-expanded="false"
            >
                {{day_time_command}}
            </button>
            <div class="dropdown-menu" style="min-width:25rem;">
                <div
                     class="container"
                     id="food-client-{{command_id}}"
                >
                </div>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <label class="mx-0 p-0" for="comment__{{day_time}}__{{command_id}}__{{client.id}}">Commentaire</label>
                                <input
                                    type="text"
                                    min="0"
                                    step="0.05"
                                    id="comment__{{day_time}}__{{command_id}}__{{client.id}}"
                                    name="comment__{{day_time}}__{{command_id}}__{{client.id}}"
                                    value="{% if command_opts.comment %}{{command_opts.comment}}{% endif %}"
                                    style="width:{{width_cells}}px;"
                                    class="default_box">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </label>
        <div class="input-group-append">
            <button class="btn btn-outline-dark btn-plus command-btn" data-command="{{command_id}}" type="button">
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </div>
