{% load static humanize index %}

{% comment %} Init some variables {% endcomment %}
{% now "d" as to_day %}
{% now "Y" as to_year %}
{% now "m" as to_month %}
{% now "d" as todays_date %}
{% with width_cells=50 %}

<style>
    .meals {
        padding: 0!important;
    }

    .meals-details {
        vertical-align: middle !important;
    }
    .line {
        border-bottom: 2px solid;
        border-color: black;
      }
      .day_cells {
          width:50px!important;
          padding:0!important;
      }
</style>

<table class="responsive-table-input-matrix table table-light">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Total</th>
            <th>€/u</th>
            <th>Nb.<br>Repas</th>
            {% for day in days %}
                <th class="day_cells" {% if to_day|striptags == day|striptags and to_month|nonpadded|striptags == month|striptags and to_year|striptags == year|striptags %}style="background-color:darkorange; width:{{width_cells}}px;"{% elif days_name|index:forloop.counter0|firsts:3 == 'dim' %}style="background-color:darkgrey; width:{{width_cells}}px;"{% endif %}>{{day}}<br>{{days_name|index:forloop.counter0|firsts:3}}</th>
            {% endfor %}
        </tr>
    </thead>    
    <tbody class="overflow-auto">
        {% regroup data by client as client_list %}
        {% for client, command_list in client_list %}
            {% ifchanged client.circuit.id %}
                {% if forloop.counter0 != 0 %}
                    <tr style="border-collapse: separate; border-spacing:0 20px; margin-bottom:1rem;">
                        <td colspan="36">
                        </td>
                    </tr>
                    {% endif %}
                {% endifchanged %}
                <tr class="line" style="margin-bottom: 1rem; border-spacing:0 20px; border-collapse: separate;background-color:
                    {% for grad in gradients %}
                        {% if grad.0|striptags == client.circuit.id|striptags %}
                            {{grad.1}}
                        {% endif %}
                    {% endfor %}
                ;">
                
            <td class="meals meals-details"><strong>{{client.last_name}}<br>{{client.first_name}}</strong></td>
            <td class="meals meals-details"><strong>Total</strong></td>
            <td class="meals meals-details"><strong>Prix U</strong></td>
            <td class="meals meals-details"><strong>Nb. Repas</strong></td>
            {% for day in days %}
                {% if day <= command_list|length %}
                    {% with command_list|index1:day as command_client %}
                        <td class="meals" style="
                               width:1em;
                               {% if todays_date == day %}
                                  background-color:cyan;
                               {% endif %}">
                            <input
                               type="number"
                               min=0
                               id="command-morning_{{command_client.client.id}}_{{day}}_{{month}}_{{year}}"
                               name="command_morning_{{command_client.client.id}}_{{day}}_{{month}}_{{year}}"
                               value={{command_client.morning_command}}
                               style="width:{{width_cells}}px;"
                               class="default_box">
                            <input
                               type="number"
                               min=0
                               id="command-evening_{{command_client.client.id}}_{{day}}_{{month}}_{{year}}"
                               name="command_evening_{{command_client.client.id}}_{{day}}_{{month}}_{{year}}"
                               value={{command_client.evening_command}}
                               style="width:{{width_cells}}px;"
                               class="default_box">
                            <input
                               type="number"
                               min=1
                               max=31
                               id="command-day_date_command_{{command_client.client.id}}_{{day}}_{{month}}_{{year}}"
                               name="command_day_date_command_{{command_client.client.id}}_{{day}}_{{month}}_{{year}}"
                               value="{{day}}"
                               style="width:{{width_cells}}px;"
                               class="default_box invisible d-none">
                            <input
                               type="number"
                               min=1
                               max=12
                               id="command-month_date_command_{{command_client.client.id}}_{{day}}_{{month}}_{{year}}"
                               name="command_month_date_command_{{command_client.client.id}}_{{day}}_{{month}}_{{year}}"
                               value="{{month}}"
                               style="width:{{width_cells}}px;"
                               class="default_box invisible d-none">
                            <input
                               type="number"
                               min=2000
                               id="command-year_date_command_{{command_client.client.id}}_{{day}}_{{month}}_{{year}}"
                               name="command_year_date_command_{{command_client.client.id}}_{{day}}_{{month}}_{{year}}"
                               value="{{year}}"
                               style="width:{{width_cells}}px;"
                               class="default_box invisible d-none">
                        </td>
                    {% endwith %}
                {% else %}
                    <td class="meals" style="
                           width:1em;">
                        <input
                           type="number"
                           min=0
                           id="command-morning_{{command.client.id}}_{{day}}_{{month}}_{{year}}"
                           name="command_morning_{{command.client.id}}_{{day}}_{{month}}_{{year}}"
                           value=0
                           style="width:{{width_cells}}px;"
                           class="default_box">
                        <input
                           type="number"
                           min=0
                           id="command-evening_{{command.client.id}}_{{day}}_{{month}}_{{year}}"
                           name="command_evening_{{command.client.id}}_{{day}}_{{month}}_{{year}}"
                           value=0
                           style="width:{{width_cells}}px;"
                           class="default_box">
                        <input
                           type="number"
                           min=1
                           max=31
                           id="command-day_date_command_{{command.client.id}}_{{day}}_{{month}}_{{year}}"
                           name="command_day_date_command_{{command.client.id}}_{{day}}_{{month}}_{{year}}"
                           value="{{day}}"
                           style="width:{{width_cells}}px;"
                           class="default_box invisible d-none">
                        <input
                           type="number"
                           min=1
                           max=12
                           id="command-month_date_command_{{command.client.id}}_{{day}}_{{month}}_{{year}}"
                           name="command_month_date_command_{{command.client.id}}_{{day}}_{{month}}_{{year}}"
                           value="{{month}}"
                           style="width:{{width_cells}}px;"
                           class="default_box invisible d-none">
                        <input
                           type="number"
                           min=2000
                           id="command-year_date_command_{{command.client.id}}_{{day}}_{{month}}_{{year}}"
                           name="command_year_date_command_{{command.client.id}}_{{day}}_{{month}}_{{year}}"
                           value="{{year}}"
                           style="width:{{width_cells}}px;"
                           class="default_box invisible d-none">
                    </td>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </tr>
</table>

{% endwith %}