{% load static humanize index %}

{% comment %} Init some variables {% endcomment %}
{% now "d" as to_day %}
{% now "Y" as to_year %}
{% now "m" as to_month %}
{% now "d" as todays_date %}
{% with width_cells=130 %}
{% with width_text_cells=50 %}
{% with width_text_cells_max=50 %}

<style>
    .meals {
        padding: 0!important;
    }

    .meals-details {
        vertical-align: middle !important;
    }
    .line {
        border-bottom: 2px solid;
        border-color: black;
      }
      .day_cells {
          width:50px!important;
          padding:0!important;
      }
</style>
<link href="{% static "css/button.css" %}" rel="stylesheet">

<h3>
    Planning
</h3>
<table class="responsive-table-input-matrix table">
    <thead class="overflow-auto table-dark">
        <tr>
            <th style="width:5%;">Nom</th>
            <th style="width:5%;">Total</th>
            <th style="width:5%;">€/u</th>
            <th style="width:5%;">Nb.<br>Repas</th>

            {% for day in range_dates %}
                {% if day|day_name|firsts:3 == 'lun' or day|day_name|firsts:3 == 'mar' or day|day_name|firsts:3 == 'jeu' or day|day_name|firsts:3 == 'sam' %}
                    <th class="day_cells" {% if to_day|striptags == day|day|striptags and to_month|nonpadded|striptags == day|month|striptags and to_year|striptags == day|year|striptags %}style="background-color:darkorange; width:{{width_cells}}px;"{% elif day|day_name|firsts:3 == 'sam' %}style="background-color:darkgrey; width:{{width_cells}}px;"{% endif %}>
                        {% if day|day_name|firsts:3 == 'lun' %}
                            LUN<br>
                            {{day|day}}<br>
                            {{day|month_name}}
                        {% elif day|day_name|firsts:3 == 'mar' %}
                            MAR/MER<br>
                            {{day|day}}- {{day|day_plusone}}<br>
                            {{day|month_name}}
                        {% elif day|day_name|firsts:3 == 'jeu' %}
                            JEU/VEN<br>
                            {{day|day}}- {{day|day_plusone}}<br>
                            {{day|month_name}}
                        {% elif day|day_name|firsts:3 == 'sam' %}
                            SAM/DIM<br>
                            {{day|day}}- {{day|day_plusone}}<br>
                            {{day|month_name}}
                        {% endif %}
                    </th>
                {% endif %}
            {% endfor %}
        </tr>
    </thead>    
    <tbody class="overflow-auto">
        {% comment %} {% regroup data by client as client_list %} {% endcomment %}
        {% regroup actual_commands by client as client_list %}
        {% for client, command_list in client_list %}
            {% ifchanged client.circuit.id %}
                {% if forloop.counter0 != 0 %}
                    <tr style="border-collapse: separate; border-spacing:0 20px; margin-bottom:1rem;">
                        <td colspan="36">
                        </td>
                    </tr>
                    {% endif %}
                {% endifchanged %}
                <tr class="line" style="margin-bottom: 1rem; border-spacing:0 20px; border-collapse: separate;background-color:
                    {{gradients|get_value:client.circuit.id}}
                ;">
                
            <td class="meals meals-details" style="min-width:{{width_text_cells}}px; max-width:{{width_text_cells_max}}px;"><strong>{{client.last_name}}<br>{{client.first_name}}</strong></td>
            <td class="meals meals-details" style="min-width:{{width_text_cells}}px; max-width:{{width_text_cells_max}}px;"><strong>Total</strong></td>
            <td class="meals meals-details" style="min-width:{{width_text_cells}}px; max-width:{{width_text_cells_max}}px;"><strong>Prix U</strong></td>
            <td class="meals meals-details" style="min-width:{{width_text_cells}}px; max-width:{{width_text_cells_max}}px;"><strong>Nb. Repas</strong></td>
            {% for day in range_dates %}
            {% if day|day_name|firsts:3 == 'lun' or day|day_name|firsts:3 == 'mar' or day|day_name|firsts:3 == 'jeu' or day|day_name|firsts:3 == 'sam' %}
                {% with command_list|get:forloop.counter0 as command_client %}
                    <td class="meals" style="min-width:{{width_cells}}px; vertical-align: middle;">
                        {% include "manager/planning/input_command.html" with day_time="morning" day_time_command=command_client.morning_command default_command=client.default_morning_command%}
                        {% if day|day_name|firsts:3 != 'lun' %}
                            {% include "manager/planning/input_command.html" with day_time="evening" day_time_command=command_client.evening_command default_command=client.default_evening_command%}
                        {% endif %}
                        <input
                           type="number"
                           min=1
                           max=31
                           id="command-day_date_command_{{client.id}}_{{day}}_{{month}}_{{year}}"
                           name="command_day_date_command_{{client.id}}_{{day}}_{{month}}_{{year}}"
                           value="{{day}}"
                           style="width:{{width_cells}}px;"
                           class="default_box invisible d-none">
                        <input
                           type="number"
                           min=1
                           max=12
                           id="command-month_date_command_{{client.id}}_{{day}}_{{month}}_{{year}}"
                           name="command_month_date_command_{{client.id}}_{{day}}_{{month}}_{{year}}"
                           value="{{month}}"
                           style="width:{{width_cells}}px;"
                           class="default_box invisible d-none">
                        <input
                           type="number"
                           min=2000
                           id="command-year_date_command_{{client.id}}_{{day}}_{{month}}_{{year}}"
                           name="command_year_date_command_{{client.id}}_{{day}}_{{month}}_{{year}}"
                           value="{{year}}"
                           style="width:{{width_cells}}px;"
                           class="default_box invisible d-none">
                    </td>
                {% endwith %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    </tr>
</table>

{% endwith %}
{% endwith %}
{% endwith %}

<script src="{% static 'js/button.js' %}"></script>