
<style>
    .bill_label {
        font-weight: 600;
        padding-left: 10px;
    }
</style>

<label class="bill_label" for="company_comp">Nom de l'entreprise</label>
<input 
type="text" 
style="inline-size: -webkit-fill-available;" 
name="company_comp" 
id="company_comp" 
value="{{company.company_comp}}"/>

<label class="bill_label" for="address_comp">Adresse</label>
<input 
type="text" 
style="inline-size: -webkit-fill-available;" 
name="address_comp" 
id="address_comp" 
value="{{company.address_comp}}"/>

<label class="bill_label" for="cellphone_comp">Telephone</label>
<input 
type="text" 
style="inline-size: -webkit-fill-available;" 
name="cellphone_comp" 
id="cellphone_comp" 
value="{{company.cellphone_comp}}"/>

<label class="bill_label" for="siret_comp">SIRET de l'entreprise</label>
<input 
type="text" 
style="inline-size: -webkit-fill-available;" 
name="siret_comp" 
id="siret_comp" 
value="{{company.siret_comp}}"/>

<label class="bill_label" for="comment_comp">Commentaire de la facture</label>
<input 
type="text" 
style="inline-size: -webkit-fill-available;" 
name="comment_comp" 
id="comment_comp" 
value="{{company.comment_comp}}"/>


