{% load static humanize index %}
{% now "d" as to_day %}
{% now "Y" as to_year %}
{% now "m" as to_month %}
{% now "d" as todays_date %}
{% with width_cells=130 %}

<style>
    table {
        /* Not required only for visualizing */
        border-collapse: collapse;
        width: 100%;
      }
      
      table thead tr th {
        /* you could also change td instead th depending your html code */
        background-color: #363742;
        position: sticky;
        z-index: 100;
        top: 0;
    }

    tr {
        opacity: 0.9;
    }

    tr:hover{
        {% comment %} background-color : rgba(0,0,0,.5) !important; {% endcomment %}
        opacity: 1;
    }

    .unique-circuit-btn:hover {
        cursor:pointer;
    }
</style>

<table class="responsive-table-input-matrix table table-hover">
    <thead class="overflow-auto table-dark">
        <tr>
            <th></th>
            <th>Clients</th>
            {% with foodcategories as foodcategories %}
            {% for food in foods %}
                <th class="verticalTableHeader">
                    {% with food.category as category %}
                            {{ foodcategories|index:forloop.counter0|index:1 }}
                    {% endwith %}
                </th>
                {% endfor %}
            {% endwith %}
        </tr>
    </thead>
    <tbody class="overflow-auto">
        {% for day in range_dates %}
            {% with command_list|get:forloop.counter0 as command_client %}
            {% if day|day_name|firsts:3 == 'lun' or day|day_name|firsts:3 == 'mar' or day|day_name|firsts:3 == 'jeu' or day|day_name|firsts:3 == 'sam' %}
                <tr 
                class="day_cells unique-circuit-btn" 
                style="{% if to_day|striptags == day|striptags and to_month|nonpadded|striptags == month|striptags and to_year|striptags == year|striptags %}background-color:darkorange; width:{{width_cells}}px; font-weight:bold;{% elif day|day_name|firsts:3 != 'lun' %}background-color:gainsboro; width:{{width_cells}}px;{% elif day|day_name|firsts:3 == 'lun' %}background-color:lightblue; width:{{width_cells}}px;{% endif %} text-align:end;"
                >
                    
                    <td {% if day|day_name|firsts:3 == 'lun' %}rowspan=1{% else %}rowspan=2{% endif %} style="vertical-align:middle;">
                        {% if day|day_name|firsts:3 == 'lun' %}
                            LUN<br>
                            {{day|day}}<br>
                            {{day|month_name}}
                        {% elif day|day_name|firsts:3 == 'mar' %}
                            MAR/MER<br>
                            {{day|day}}- {{day|day_plusone}}<br>
                            {{day|month_name}}
                        {% elif day|day_name|firsts:3 == 'jeu' %}
                            JEU/VEN<br>
                            {{day|day}}- {{day|day_plusone}}<br>
                            {{day|month_name}}
                        {% elif day|day_name|firsts:3 == 'sam' %}
                            SAM/DIM<br>
                            {{day|day}}- {{day|day_plusone}}<br>
                            {{day|month_name}}
                        {% endif %}
                    </td>
                    <td>
                        {% random_int 0 20 %}
                    </td>
                    {% for food in foods %}
                        <td>
                            {% random_int 0 20 %}
                        </td>
                    {% endfor %}
                </tr>
            {% elif day|day_name|firsts:3 == 'mer' or day|day_name|firsts:3 == 'ven' or day|day_name|firsts:3 == 'dim' %}
                <tr 
                    class="day_cells unique-circuit-btn" 
                    style="text-align:end;"
                >
                {% if day|day_name|firsts:3 == 'dim' and forloop.counter0 == 0 %}
                    <td rowspan=1 style="vertical-align:middle;">
                        DIM<br>
                        {{day|day}}- {{day|day_plusone}}<br>
                        {{day|month_name}}
                    </td>
                {% endif %}
                    <td>
                        {% random_int 0 20 %}
                    </td>
                    {% for food in foods %}
                        <td>
                            {% random_int 0 20 %}
                        </td>
                    {% endfor %}
                </tr>
            {% endif %}
            {% endwith %}
        {% endfor %}
</table>
{% endwith %}