{% load static humanize index %}
{% now "d" as to_day %}
{% now "Y" as to_year %}
{% now "m" as to_month %}
{% now "d" as todays_date %}
{% with width_cells=120 %}

{% with actual_commands as command_list %}
<table class="responsive-table-input-matrix table table-hover">
    
    <thead class="overflow-auto table-dark">
        <tr>
            <th></th>
            <th>Jours</th>
        </tr>
    </thead>
    <tbody class="overflow-auto">
        {% for day in range_dates %}
            {% with day|day as this_day %}
            {% with day|month as this_month %}
            {% with day|year as this_year %}
            {% with command_list|get:forloop.counter0 as command_client %}
            {% if day|day_name|firsts:3 == 'lun' or day|day_name|firsts:3 == 'mar' or day|day_name|firsts:3 == 'jeu' or day|day_name|firsts:3 == 'sam' %}
                <tr 
                class="day_cells total-circuit-btn" 
                style="{% if to_day|striptags == day|striptags and to_month|nonpadded|striptags == month|striptags and to_year|striptags == year|striptags %}background-color:darkorange; width:{{width_cells}}px; font-weight:bold;{% elif day|day_name|firsts:3 != 'lun' %}background-color:gainsboro; width:{{width_cells}}px;{% elif day|day_name|firsts:3 == 'lun' %}background-color:lightblue; width:{{width_cells}}px;{% endif %} text-align:end;"

                data-year={{this_year}}
                data-month={{this_month}}
                data-day={{this_day}}
                {% if not day|day_name|firsts:3 == 'lun' %}
                    data-daytwo={{day|day_plusone}}
                {% endif %}
                {% if day|day_plusone_equal_1 %}
                    data-monthtwo={{day|month_plusone}}
                {% endif %}
                {% if day|day_plusone_year_equal_1 %}
                    data-yeartwo={{day|year_plusone}}
                {% endif %}
                >
                    
                    <td {% if day|day_name|firsts:3 == 'lun' %}rowspan=2{% else %}rowspan=3{% endif %} style="vertical-align:middle;" {% if actual_commands|query_filter_day_date_command:this_day|query_filter_month_date_command:this_month|query_filter_year_date_command:this_year|query_filter_command_passed|query_count > 0 %}class="text-bold"{% endif %}>
                        {% if day|day_name|firsts:3 == 'lun' %}
                            LUN<br>
                            {{day|day}}<br>
                            {{day|month_name}}
                        {% elif day|day_name|firsts:3 == 'mar' %}
                            MAR/MER<br>
                            {{day|day}}- {{day|day_plusone}}<br>
                            {{day|month_name}}
                        {% elif day|day_name|firsts:3 == 'jeu' %}
                            JEU/VEN<br>
                            {{day|day}}- {{day|day_plusone}}<br>
                            {{day|month_name}}
                        {% elif day|day_name|firsts:3 == 'sam' %}
                            SAM/DIM<br>
                            {{day|day}}- {{day|day_plusone}}<br>
                            {{day|month_name}}
                        {% endif %}
                    </td>
                </tr>
                <tr class="day_cells total-circuit-btn"
                data-year={{this_year}}
                data-month={{this_month}}
                data-day={{this_day}}
                >
                    <td {% if actual_commands|query_filter_day_date_command:this_day|query_filter_month_date_command:this_month|query_filter_year_date_command:this_year|query_filter_command_passed|query_count > 0 %}class="text-bold"{% endif %}>
                        {{day|day_name}}
                    </td>
                </tr>
            {% elif day|day_name|firsts:3 == 'mer' or day|day_name|firsts:3 == 'ven' or day|day_name|firsts:3 == 'dim' %}
                <tr 
                    class="day_cells total-circuit-btn {% if actual_commands|query_filter_day_date_command:this_day|query_filter_month_date_command:this_month|query_filter_year_date_command:this_year|query_filter_command_passed|query_count > 0 %}text-bold{% endif %}" 
                    style="text-align:end;"
                    data-year={{this_year}}
                    data-month={{this_month}}
                    data-day={{this_day}}
                >
                    {% if day|day_name|firsts:3 == 'dim' and forloop.counter0 == 0 %}
                        <td rowspan=1 style="vertical-align:middle;">
                            DIM<br>
                            {{day|day}}<br>
                            {{day|month_name}}
                        </td>
                    {% endif %}
                    <td {% if actual_commands|query_filter_day_date_command:this_day|query_filter_month_date_command:this_month|query_filter_year_date_command:this_year|query_filter_command_passed|query_count > 0 %}class="text-bold"{% endif %}>
                        {{day|day_name}}
                    </td>
                </tr>
            {% endif %}
            {% endwith %}                    
            {% endwith %}
            {% endwith %}
            {% endwith %}
        {% endfor %}
    </tbody>
</table>
{% endwith %}  
{% endwith %}  