{% load static humanize index %}
{% now "d" as to_day %}
{% now "Y" as to_year %}
{% now "m" as to_month %}
{% now "d" as todays_date %}
{% with width_cells=120 %}

<table class="responsive-table-input-matrix table table-light table-hover">
    <thead class="overflow-auto">
        <tr>
            <th></th>
            {% with foodcategories as foodcategories %}
            {% for food in foods %}
                <th class="verticalTableHeader">
                    {% with food.category as category %}
                            {{ foodcategories|index:forloop.counter0|index:1 }}
                    {% endwith %}
                </th>
                {% endfor %}
            {% endwith %}
        </tr>
    </thead>
    <tbody class="overflow-auto">
        {% for day in days %}
            {% for time in morning_evening %}
                <tr class="day_cells unique-circuit-btn" style="{% if to_day|striptags == day|striptags and to_month|nonpadded|striptags == month|striptags and to_year|striptags == year|striptags %}background-color:darkorange; width:{{width_cells}}px; font-weight:bold;{% elif days_name|index:forloop.parentloop.counter0|firsts:3 == 'dim' %}background-color:darkgrey; width:{{width_cells}}px;{% endif %} text-align:end;">
                    {% if forloop.counter0 == 0 %}
                        <td rowspan=2 style="vertical-align:middle;">
                            {{days_name|index:forloop.parentloop.counter0}} {{day}} 
                        </td>
                    {% endif %}
                    {% for food in foods %}
                        <td>
                            {% random_int 0 200 %}
                        </td>
                    {% endfor %}
                {% endfor %}
            </tr>
        {% endfor %}
</table>
{% endwith %}  