{% load static humanize index %}

{% now "d" as to_day %}
{% now "Y" as to_year %}
{% now "m" as to_month %}
{% now "d" as todays_date %}

<h3>
    Total
</h3>
<div class="accordion" id="TotalAccordion">
  <!-- Contact Accordion -->
  <div class="card-header my-1 circuit-total" id="headingTot" data-bs-toggle="collapse" data-bs-target="#acc-total" aria-expanded="false" aria-controls="acc-{{circuit.id}}">
      <h2 class="m-0 row">
          <div class="col-12">
              <button class="btn btn-link text-white font-weight-bold text-uppercase collapsible-link" type="button" data-bs-toggle="collapse" data-bs-target="#acc-total" aria-expanded="false" aria-controls="acc-total">
                Voir le Total
              </button>
          </div>
      </h2>
  </div>
  <div id="acc-total" class="collapse" aria-labelledby="headingTot" data-parent="#TotalAccordion">
      <div class="card-body p-0">
          <div class="col-12 btn-toolbar p-0">
              <div class="col-12 p-0">
                  {% include "manager/circuits/circuits_total.html" %}
              </div>
          </div>
      </div>
  </div>
</div>    
<br>
<h3>
    Tournées
    <button
      class="btn btn-success align-content-center mx-3 circuit-add-btn"
      type="button"
      id="createCircuit"
      >
      Ajouter
    </button>
</h3>
<div class="accordion" id="CircuitAccordion">
    <!-- Contact Accordion -->
    {% include "manager/circuits/circuit_generation.html" %}
</div>    
